In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('Country.csv')

In [9]:
len(df)

219

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 7 columns):
Country Name    219 non-null object
Country Code    219 non-null object
2010            219 non-null float64
2011            219 non-null float64
2012            219 non-null float64
2013            219 non-null float64
2014            219 non-null float64
dtypes: float64(5), object(2)
memory usage: 12.1+ KB

In [11]:
df.head()

,Country Name,Country Code,2010,2011,2012,2013,2014
0,Afghanistan,AFG,20.600000,20.900000,19.700001,21.100000,20.799999
1,Angola,AGO,10.800000,10.700000,10.700000,10.600000,10.500000
2,Albania,ALB,25.799999,27.000000,28.299999,28.700001,29.200001
3,Arab World,ARB,25.022214,28.117516,29.113212,29.335306,29.704569
4,United Arab Emirates,ARE,9.800000,9.800000,9.800000,9.900000,10.000000

In [14]:
df = df.set_index('Country Name')
df.head()

,Country Code,2010,2011,2012,2013,2014
Country Name,,,,,,
Afghanistan,AFG,20.600000,20.900000,19.700001,21.100000,20.799999
Angola,AGO,10.800000,10.700000,10.700000,10.600000,10.500000
Albania,ALB,25.799999,27.000000,28.299999,28.700001,29.200001
Arab World,ARB,25.022214,28.117516,29.113212,29.335306,29.704569
United Arab Emirates,ARE,9.800000,9.800000,9.800000,9.900000,10.000000

In [21]:
df['Angola'].mean(axis=1)

KeyError: 'Angola'